body {
    padding: 0;
    margin: 0;
    background-color: rgb(20, 12, 56);
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

header {
    border: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(20, 12, 56);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

#logo {
    max-width: 300px;
}

#generic-big-text {
    margin: 0.8rem;
    margin-top: 5rem;
    color: rgb(163, 63, 255);
    font-size: 2.6rem;
}

#generic-big-text2 {
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: rgb(249, 168, 255);
    font-size: 2.6rem;
}

#aboutus {
    border: 10px solid rgb(20, 12, 56);
    border-radius: 20px;
    background-color: rgb(20, 12, 56);
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.color {
    color: rgb(249, 168, 255);
}

#generic-catchy-text-section {
    background: black;
    padding: 2rem;
    margin: auto;
    border: 0;

}

#aboutus-part:hover{
    top: -10px;
}

#aboutus-part {
    background: black;
    background: linear-gradient(180deg, black 0%, rgba(20, 12, 56, 1) 100%);

    position: relative;
    top: 0;
    transition: top ease 0.2s;
}

#message {
    padding: 2.4rem;
    background: black;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    text-align: justify;
}