body {
    padding: 0;
    margin: 0;
    background-color: rgb(20, 12, 56);
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

header {
    border: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(20, 12, 56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#logo {
    margin: auto;
    max-width: 300px;
}

#menu-button {
    background: transparent;
    border: 0;
    color: white;
    margin-bottom: 0.3rem;
}

#menu {
    background: rgb(12, 6, 24);
    text-align: center;
}

#menu-link {
    font-size: 14px;
    color: white;
}

#generic-big-text {
    margin: 0.8rem;
    margin-top: 6rem;
    color: rgb(163, 63, 255);
    font-size: 2.6rem;
}

#generic-big-text2 {
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: rgb(249, 168, 255);
    font-size: 2.6rem;
}

#aboutus {
    border: 10px solid rgb(20, 12, 56);
    border-radius: 20px;
    background-color: rgb(20, 12, 56);
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.color {
    color: rgb(249, 168, 255);
}

#generic-catchy-text-section {
    background: black;
    padding: 2rem;
    margin: auto;
    border: 0;

}

#aboutus-part:hover{
    top: -10px;
}

#aboutus-part {
    background: black;
    background: linear-gradient(180deg, black 0%, rgba(20, 12, 56, 1) 100%);

    position: relative;
    top: 0;
    transition: top ease 0.2s;
}

#staff {
    padding: 2.4rem;
    background: black;
    width: 70%;
    border-radius: 20px;
    margin: auto;
    text-align: justify;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 2rem;
}

#message {
    padding-top: 1rem;
    margin: auto;
}

#pfp {
    margin: auto;
    width: 120px;
    height: 120px;
    overflow: hidden;

    border-radius: 120px;
}

footer {
    padding: 2.4rem;
    background: black;
    margin: auto;
    text-align: center;
 
    font-size: small;
}

#next {
    background-color: black;
    margin: auto;
    margin-top: 2rem;
    color: white;
    font-size: 12;
    padding: 0.8rem;
    border: 3px solid black;
    border-radius: 20px;

    transition: all ease 0.2s;
}

#next:hover {
    color:black;
    background-color: white;
    border-color: white;
}
